extends layout

block content
  h2 #{title}
  table.table
    thead.thead-dark
      th(scope='col') Total
      th(scope='col') Remaining
      th(scope='col') Deleted
    tbody
      tr
        td #{drive.quota.total}
        td #{drive.quota.remaining}
        td #{drive.quota.deleted}
