extends layout
block content
  .container
    form(action= action method='POST')
      div.row
        div.col-3
          div.form-group
            label(for='AuditRefInput') Audit Ref
            input.form-control#AuditRefInput(type='text' placeholder='Audit Reference' name='AuditRef' value= data[0])
          div.form-group
            label(for='ActionRefInput') Action Ref
            input.form-control#ActionRefInput(type='text' placeholder='Action Reference' name='ActionRef' value = data[1])
          div.form-group
            label(for='TypeDropDown') Type
            select.custom-select#TypeDropDown(name='Type')
              option(selected= true) Please Select
              option(value='TBC' selected = data[2] = 'TBC') TBC
        div.col-6
          div.form-group
            label(for='RespPerson') Person Responsible
            input.form-control#RespPerson(type='text' placeholder='Person Responsible' name='RespPerson' value= data[3])
          div.form-group
            label(for='AuditPerson') Auditor
            input.form-control#AuditPerson(type='text' placeholder='Auditor' name='AuditPerson' value= data[4])
        div.col-3
          div.form-group
            label(for='ActionDate') Action Date
            input.form-control#ActionDate(type='date' name='ActionDate' value= data[5])
          div.form-group
            label(for='ClosedDate') Closed Date
            input.form-control#ClosedDate(type='date' name='ClosedDate' value= data[6])
          div.form-group
            label(for='LocationInput') Location
            input.form-control#LocationInput(type='text' placeholder='Free Text' name='Location' value= data[7])
      div.row
        div.col-12
          div.form-group
            label(for='DescriptionInput') Description
            textarea.form-control#DescriptionInput(placeholder='Free Text' name='Description') #{data[8]}
      div.row
        div.col-12
          div.form-group
            label(for='ActionInput') Action
            textarea.form-control#ActionInput(placeholder='Free Text' name='Action') #{data[9]}
      button.btn.btn-primary(type='submit') Submit
