extends layout

block content
  div.jumbotron
    h1= title
    if user
      p Welcome #{user}
  div.card
    div.card-header
      if user
        span #{user}
      else
        span Welcome
    div.card-body
      if user

      else
        a.btn.btn-primary.btn-large(href=signInUrl) Sign In
    div.card-footer
