doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='/') ExpressTest
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar-body' aria-controls='navbar-body' aria-expanded=false.toString() arai-label='Toggle navigation')
        span.navbar-toggler-icon
      div.collapse.navbar-collapse#navbar-body
        ul.navbar-nav.mr-auto
          li.nav-item
            if title == 'Home'
              a.nav-link.active(href='/') Home
            else
              a.nav-link(href='/') Home
          if user
            li.nav-item
              if title == 'Drive'
                a.nav-link.active(href='/drive') Drive
              else
                a.nav-link(href='/drive') Drive
            li.nav-item
              if title == 'Form'
                a.nav-link.active(href='/form') Form
              else
                a.nav-link(href='form') Form
        ul.navbar-nav.justify-content-end
          if user
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#') #{user}
              div.dropdown-menu
                a.dropdown-item(href='/authorize/signout') Sign Out
          else
            li.nav-item
              a.nav-link(href=signInUrl) Sign In
    main.container-fluid(role='main')
      block content
    script(src='/js/jquery.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')
