main{
  margin-top: 75px;
}
.nav-item .dropdown-menu{
  background-color:#343a40 !important;
}
.dropdown-item{
  color: rgba(255,255,255,0.5) !important;
}
.dropdown-item:hover{
  background-color: #343a40 !important;
  color: white !important;
}